<!DOCTYPE html>
<html>
  <head>
    <link href="static/css/libs.css" rel="stylesheet"><link href="<< .css>> " rel="stylesheet">
    <script src="static/js/libs/libs.js"></script>
    <script src="static/js/libs/moment-with-locales.min.js"></script><script src="<< .js >>" type="module"></script>
    <link rel="shortcut icon" href="#">
    <meta charset="UTF-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title><< .appTitle >></title>
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-toolbar app color="primary" dark>
          <v-toolbar-side-icon @click.stop="drawer=!drawer"></v-toolbar-side-icon>
          <v-toolbar-title><< .appTitle >></v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items></v-toolbar-items>
        </v-toolbar>
        <v-navigation-drawer app v-model="drawer">
          <v-list class="pa-0">
            <v-list-group prepend-icon="accessibility" :value="true">
              <template v-slot:activator>
                <v-list-tile>
                  <v-list-tile-title>Проекты</v-list-tile-title>
                </v-list-tile>
              </template>
              <v-list-tile>
                <v-list-tile-action>
                  <v-btn fab dark small color="primary" @click="addProjDialogShow()" title="Добавить проект">
                    <v-icon dark>add</v-icon>
                  </v-btn>
                  <!--v-tooltip(bottom)
                  template(v-slot:activator="{on}")
                      v-btn(fab dark v-on="on" small color="primary" @click="addProjDialogShow()")
                          v-icon(dark) add
                  span Добавить проект
                  -->
                </v-list-tile-action>
              </v-list-tile>
              <v-list-tile :to="{path:'/project/'+project.id}" v-for="project in projects" :key="'project'+project.id">
                <v-list-tile-action>
                  <v-icon></v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-title>{{project.name}}</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <!--v-list-tile(:to="{path:'/user'}")
              v-list-tile-action
                  v-icon
              v-list-tile-content
                  v-list-tile-title Все
              -->
              <!--v-list-tile(:to="{path:'/user_control'}")
              v-list-tile-action
                  v-icon
              v-list-tile-content
                  v-list-tile-title Контроль
              -->
            </v-list-group>
            <!--v-list-group(prepend-icon="warning" :value="true")
            template(v-slot:activator)
                v-list-tile
                    v-list-tile-title Нарушения
            v-list-tile(:to="{path:'/ot_new'}")
                v-list-tile-action
                    v-icon
                v-list-tile-content
                    v-list-tile-title Новые
            v-list-tile(:to="{path:'/ot_nevyp'}")
                v-list-tile-action
                    v-icon
                v-list-tile-content
                    v-list-tile-title Невыполненные
            v-list-tile(:to="{path:'/ot_k_rabote'}")
                v-list-tile-action
                    v-icon
                v-list-tile-content
                    v-list-tile-title Принять к работе
            -->
            <!--v-list-group(prepend-icon="assignment" :value="false")
            template(v-slot:activator)
                v-list-tile
                    v-list-tile-title Отчёты
            v-list-tile(@click.stop="otViewToExcel()")
                v-list-tile-action
                    v-icon
                v-list-tile-content
                    v-list-tile-title Список нарушений
            -->
          </v-list>
        </v-navigation-drawer>
        <v-dialog v-model="addProjDialog.visible" width="500" v-if="addProjDialog.proj != null">
          <v-card>
            <v-card-title>Добавление проекта
              <v-spacer></v-spacer>
              <v-btn fab flat small @click="addProjDialogClose()">
                <v-icon>close</v-icon>
              </v-btn>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
              <v-form ref="addProjForm" v-model="addProjDialog.valid" lazy-validation>
                <v-text-field v-model="addProjDialog.proj.name" :rules="addProjDialog.rules.name" label="Имя проекта" required></v-text-field>
                <v-text-field v-model="addProjDialog.proj.gen_path" :rules="addProjDialog.rules.gen_path" label="Папка для генерации" required></v-text-field>
              </v-form>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="error" @click="addProjDialogClose()">
                <v-icon>close</v-icon><span>Отмена</span>
              </v-btn>
              <v-btn color="success" @click="addProjDialogSave()">
                <v-icon>save</v-icon><span>Сохранить</span>
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <!--include dialogs/add_entity_dialog-->
        <v-snackbar :top="true" :color="snackbar.color" v-model="snackbar.visible">{{snackbar.text}}
          <v-btn @click="snackbar.visible = false" flat fab small dark title="Закрыть">
            <v-icon>clear</v-icon>
          </v-btn>
        </v-snackbar>
        <v-content>
          <v-container fluid>
            <router-view></router-view>
          </v-container>
        </v-content>
        <v-footer color="primary"></v-footer>
      </v-app>
    </div>
  </body>
</html>