v-dialog(v-model="addProjDialog.visible" width="500")
    v-card
        v-card-title Добавление проекта
            v-spacer
            v-btn(fab flat small @click="addProjDialogClose()")
                v-icon close
        v-divider
        v-card-text
            v-form(ref="addProjForm" v-model="addProjDialog.valid" lazy-validation)
                v-text-field(v-model="addProjDialog.proj.name" :rules="addProjDialog.rules.name" label="Имя проекта" required)
                v-text-field(v-model="addProjDialog.proj.gen_path" :rules="addProjDialog.rules.gen_path" label="Папка для генерации" required)
        v-divider
        v-card-actions
            v-spacer
            v-btn(color="error" @click="addProjDialogClose()")
                v-icon close
                span Отмена
            v-btn(color="success" @click="addProjDialogSave()")
                v-icon save
                span Сохранить