v-snackbar(:top="true", :color="snackbar.color", v-model="snackbar.visible")
    | {{snackbar.text}}
    v-btn(@click="snackbar.visible = false", flat fab small dark title="Закрыть")
        v-icon clear