extends layouts/main
block content
    v-app
        include layouts/toolbar
        include layouts/navigation
        include dialogs/add_proj_dialog
        include dialogs/snackbar
        v-content
            v-container(fluid)
                router-view
        v-footer(color="primary")