- var css_path = "static/css/"
- var js_path = "static/js/"

doctype html
html
    head
        link(href=css_path + "libs.css" rel="stylesheet")
        <link href="<< .css>> " rel="stylesheet">

        script(src=js_path + "libs/libs.js")
        script(src=js_path + "libs/moment-with-locales.min.js")
        <script src="<< .js >>" type="module"></script>
        link(rel="shortcut icon" href="#")

        meta(charset="UTF-8")
        meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
        title << .appTitle >>
    body
        #app
            block content