v-navigation-drawer(app v-model="drawer")
    v-list.pa-0
        v-list-group(prepend-icon="accessibility" :value="true")
            template(v-slot:activator)
                v-list-tile
                    v-list-tile-title Проекты
            v-list-tile
                v-list-tile-action
                    v-tooltip(bottom)
                        template(v-slot:activator="{on}")
                            v-btn(fab dark v-on="on" small color="primary" @click="addProjDialogShow()")
                                v-icon(dark) add
                        span Добавить проект
            //v-list-tile(:to="{path:'/user'}")
                v-list-tile-action
                    v-icon
                v-list-tile-content
                    v-list-tile-title Все
            //v-list-tile(:to="{path:'/user_control'}")
                v-list-tile-action
                    v-icon
                v-list-tile-content
                    v-list-tile-title Контроль
        //v-list-group(prepend-icon="warning" :value="true")
            template(v-slot:activator)
                v-list-tile
                    v-list-tile-title Нарушения
            v-list-tile(:to="{path:'/ot_new'}")
                v-list-tile-action
                    v-icon
                v-list-tile-content
                    v-list-tile-title Новые
            v-list-tile(:to="{path:'/ot_nevyp'}")
                v-list-tile-action
                    v-icon
                v-list-tile-content
                    v-list-tile-title Невыполненные
            v-list-tile(:to="{path:'/ot_k_rabote'}")
                v-list-tile-action
                    v-icon
                v-list-tile-content
                    v-list-tile-title Принять к работе
        //v-list-group(prepend-icon="assignment" :value="false")
            template(v-slot:activator)
                v-list-tile
                    v-list-tile-title Отчёты
            v-list-tile(@click.stop="otViewToExcel()")
                v-list-tile-action
                    v-icon
                v-list-tile-content
                    v-list-tile-title Список нарушений